/* ADDED GOOGLE FONT - Lato  */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* RE-SET BY DEFAULT BEHAVIOUR */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

/* style for banner section */

.banner-section-containr {
  max-width: 1920px;
  margin: 0 auto;
  background-color: rgba(229, 84, 115, 0.1);
}

.banner-section-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.banner-section-content .banner-text-container {
  max-width: 50%;
}

.banner-text-container .bnr-title {
  color: rgba(39, 39, 39, 1);
  font-size: 80px;
  font-weight: 800;
  line-height: 96px;
  letter-spacing: 0%;
  text-align: left;
}

.banner-text-container .bnr-subtitle {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  margin: 32px 0px;
}

.banner-text-container .bnr-btn {
  border-radius: 8px;
  background: rgba(229, 84, 115, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  padding: 20px 43px 20px 43px;
  border: none;
}

.banner-section-content .banner-img-container {
  max-width: 50%;
  padding: 50px 0px 0px 0px;
}

.banner-section-content .banner-img-container img {
  width: 100%;
}

/* featured flowers section */
.container {
  max-width: 1440px;
  margin: 128px auto;
}

.container .contents {
  max-width: 594px;
  margin: 0 auto;
}

.container .section-title {
  color: rgba(39, 39, 39, 1);
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}

.container .section-subtitle {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  margin: 24px 0px 48px 0px;
}

.container .flowers-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flowers-wrapper .flower-card .flower-title {
  text-align: center;
  margin: 32px 0px 0px 0px;
}

.flowers-wrapper .flower-card .flower-title a {
  color: rgba(39, 39, 39, 1);
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: normal;
  text-align: center;
  text-decoration-line: underline;
}

.flower-card .flower-image {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  padding: 80px 10px 0 10px;
}

.flower-card .flower-image img {
  width: 100%;
  height: 100%;
}
.bg-pink {
  background: rgba(167, 33, 98, 0.15);
}

.bg-blue {
  background: rgba(5, 151, 160, 0.15);
}

.bg-lightgreen {
  background: rgba(71, 125, 17, 0.15);
}

/* services section */
.services-container {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 100px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
}

.services-container .services-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 86px 0px;
}

/* common serve description class */
.services-content .services-description {
  margin-top: 24px;
}

/* hot deal section */
.hd-section {
  background: rgba(229, 84, 115, 0.05);
  max-width: 1922px;
  margin: 0 auto;
}

.hd-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hd-content {
  width: 50%;
  text-align: center;
  padding-left: 100px;
}

.hd-content .section-title {
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: normal;
}

.hd-content .section-title span {
  color: rgba(229, 84, 115, 1);
}

.hd-content .section-subtitle {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: normal;
  padding: 24px 130px 32px;
}

.hd-content .btn {
  padding: 20px 43px 20px 43px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: normal;
  border: none;
  /* text-align: left; */
}

.hd-container .hd-img {
  width: 50%;
  padding: 100px 0px;
}

.hd-container .hd-img img {
  max-width: 318px;
}

/* style for instagram section */
