/* ADDED GOOGLE FONT - Lato  */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* RE-SET BY DEFAULT BEHAVIOUR */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.banner-section-container {
  max-width: 1920px;
}

.banner-section-content {
  background-color: rgba(229, 84, 115, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 240px 0px 240px;
}

.banner-section-content .banner-text-container {
  max-width: 50%;
}

.banner-text-container .bnr-title {
  color: rgba(39, 39, 39, 1);
  font-size: 80px;
  font-weight: 800;
  line-height: 96px;
  letter-spacing: 0%;
  text-align: left;
}

.banner-text-container .bnr-subtitle {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  margin: 32px 0px;
}

.banner-text-container .bnr-btn {
  border-radius: 8px;
  background: rgba(229, 84, 115, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  padding: 20px 43px 20px 43px;
  border: none;
}

.banner-section-content .banner-img-container {
  max-width: 50%;
  padding: 50px 0px 0px 0px;
}

.banner-section-content .banner-img-container img {
  width: 100%;
}
